:root {
  --font-BeVietnamPro: "BeVietnamPro-Variable", sans-serif;
  --font-Poppins: "Poppins-Variable", sans-serif;
  --color-dull-black: #121212;
  --color-paper-black: #151618;
  --color-soft-red: #de4242;
  --color-soft-blue: #8dd8ff;
  --color-light-blue: #bbfbff;
  --color-dark-blue: #4e71ff;
  --color-deep-blue: #102e50;
  --color-wine-red: #3a0519;
  --color-light-red: #ef88ad;
  --color-white: #e9e6db;
  --color-btn-text-hovored: rgba(100, 105, 123, 0.21);
}
body {
  font-family: var(--font-BeVietnamPro);
  background-color: var(--color-paper-black);
  color: var(--color-white);
}
/* WebKit Scrollbar Customization */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-soft-red);
  border-radius: 8px;
}

/* Kill scrollbar buttons */
*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background: none;
  display: block;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff !important; /* Optional: control text color */
}
