:root {
  --font-BeVietnamPro: "BeVietnamPro-Variable", sans-serif;
  --font-Poppins: "Poppins-Variable", sans-serif;
  --color-dull-black: #121212;
  --color-paper-black: #1A1A1D;
  --color-soft-red: #de4242;
  --color-soft-blue: #8dd8ff;
  --color-light-blue: #bbfbff;
  --color-dark-blue: #4e71ff;
  --color-deep-blue: #102e50;
  --color-wine-red: #3a0519;
  --color-light-red: #ef88ad;
  --color-white: #fbf8ef;
  --color-btn-text-hovored: rgba(100, 105, 123, 0.21);
}
body {
  font-family: var(--font-BeVietnamPro);
  color: var(--color-white);
}
/* Thin scrollbar */
*::-webkit-scrollbar {
  width: 3px;
  height: 2px; /* for horizontal scrollbars */
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-soft-red);
  border-radius: 8px;
}
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff !important; /* Optional: control text color */
}
